<div class="container-fluid">
    <div class="row" style="margin-top: 172px;">
        <div class="col-12">
            <div class="card shadow">
                <div class="card-body"  style="background-color: bisque;">
                    <form>
                        <div class="mb-3">
                            <h4 class="text-dark text-muted" style="font-weight: 700;">Register</h4>
                        </div>
                        <div class="mb-3">
                          <label for="exampleInputEmail1" class="form-label">Email</label>
                          <input type="email" class="form-control input-style" name="email" [(ngModel)]="email">
                        </div>
                        <div class="mb-3">
                          <label for="exampleInputPassword1" class="form-label">Password</label>
                          <input type="password" class="form-control input-style" name="password" [(ngModel)]="password">
                        </div>
                        <button type="button" class="btn btn-info" (click)="register()">Register</button>
                        <div class="row">
                            <div class="col-md-6">
                                <span style="font-size: 12px;font-weight: 700;">Have an account...</span> <a href="/login" style="text-decoration: none; color:blue;font-size: 12px;font-weight: 700;"><span>Login</span></a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col"></div>
    </div>
</div>