<header>
  <h1>Expense Tracker App</h1>
</header>

<div class="d-flex" style="height: 100%;margin:0">
  <div  style="height: 100%;margin:0; padding:0">
<nav>
  <ul>
    <li class="active"><a routerLink="/dashboard">Home</a></li>
    <li><a routerLink="/categories">Categories</a></li>
    <li><a routerLink="/expenses">Expenses</a></li>


  </ul>
</nav>
</div>
<div class="new-chart-card">
<div class="new">

<mat-card class="income">
  <mat-card-header>
    <mat-card-title>Income</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <!-- Add content for income card -->
    <!-- Example: <p>Total income: $1000</p> -->
  </mat-card-content>
</mat-card>


  <mat-card class="income">
    <mat-card-header>
      <mat-card-title>Expense</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <!-- Add content for income card -->
      <!-- Example: <p>Total income: $1000</p> -->
    </mat-card-content>
  </mat-card>
  
    <mat-card class="income">
      <mat-card-header>
        <mat-card-title>Total Balance</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <!-- Add content for income card -->
        <!-- Example: <p>Total income: $1000</p> -->
      </mat-card-content>
    </mat-card>
    
    </div>
    <div class="chart-table-data">
    <div class="chart-container">

      
  </div>
  <div>
    <mat-card class="income chart-size">
      <mat-card-header>
        <mat-card-title>Recent Transactions</mat-card-title>
      </mat-card-header>
      <mat-card-content>
<div *ngFor="let transaction of recentTransactions">
        <mat-card class="income transaction-card">
          <mat-card-header>
            <mat-card-title>{{ transaction.description }}</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p>Amount: {{ transaction.amount | currency }}</p>
            <!-- Add other transaction details as needed -->
          </mat-card-content>
        </mat-card>
      </div>
      </mat-card-content>
    </mat-card>
  </div>
  </div>
</div>
</div>

  <footer>
  <p>&copy; 2023 Expense Tracker App</p>
</footer>


  